/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.col{
    float: left;
}
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.center-text{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    background-color: white;
    border-radius: 30px;
    font-size: 15px;
}
/* header */
header{
    color: white;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.top-menu{
    height: 80px;
    background-color:rgb(38 94 233);
    line-height: 80px;
}
/* colonna 1 */
.col img{
    vertical-align: middle;
}
/* colonna 2 */

#main-nav ul li{
    display: inline-block;
}

#main-nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}
/* terza colonna */

.col .header-btn{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
}
/* bottom header */

.hero-section{
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;

}

.hero-section .hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-section .hero-text h1{
    font-size: 40px;
}

.hero-section .hero-text p{
    margin-top: 30px;
}

.hero-text .hero-btns{
    margin-left: 200px;
    margin-top: 30px;
}

.hero-btns .btn-left{
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.hero-btns .btn-right{
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
}